
header {
    font-size: 2.25rem;
    padding: 1.2rem 1.25rem;
    border: 3px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    margin-top: 1rem !important;
    background: url(food/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header:hover {
    opacity: 0.8;
}
.container {
    padding: 1.25rem 0;
    font-size: 1.3rem;
    
}

.form-group {
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
}
.liitlerightpad {
    padding-left: 1rem;
}

.list ul {
    list-style: none;
    padding-left: 0;
}
.head {
    background-color: rgb(245, 236, 236);
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.list {
    background-color: #fff83156;
    
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.SelectedRecipe {
    background-color: #fff83156;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.list ul li {
    display: flex;
    background-color: gainsboro;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.list ul li:hover {
    background-color: rgb(245, 236, 236);
}
.active {
    background-color: rgb(245, 236, 236) !important;
}
.martop {
    margin-top: 2rem;
}

.list ul li img {
    height: 6rem;
    width: 6rem;
    float: left;
    border-radius: 3px;
}

.detail {
    padding-left: 1rem;

}
.sec {
    padding-bottom: 1rem !important;
}
.selected {
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
}
.selected img {
    width: 100%;
    border-radius: 3px;
}
.selected .name {
    font-size: 2.5rem;
    text-align: center;
}
.selected .r {
    text-decoration: underline;
}
.navbar {
    margin-top: 1rem;
    background-color: gainsboro !important;
    border-radius: 5px;
}
.headerFormText {
    font-size: 1.25rem;
    line-height: 2.2rem; 
    margin-bottom: 0.6rem;
    
}
.btn-color {
    background-color: gainsboro !important;
}
.imgh {
    height: 100% !important;
    width: 75%;
    margin: 0 auto;
}
.warning {
    color: red;
    margin-top: 1rem;
    font-size: 1rem;
}
.success {
    text-align: center !important;
    font-size: 1rem;
}
footer {
    text-align: center;
    margin-top: 1rem;
    background-color: gainsboro;
    font-size: 1rem;
    padding: 1rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    letter-spacing: -0.2px;
}