header {
    font-size: 2.25rem;
    padding: 1.2rem 1.25rem;
    border: 3px solid black;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    margin-top: 1rem !important;
    background: url(food/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header:hover {
    opacity: 0.8;
}
.container {
    padding: 1.25rem 0;
    font-size: 1.3rem;
    
}

.form-group {
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
}
.liitlerightpad {
    padding-left: 1rem;
}

.list ul {
    list-style: none;
    padding-left: 0;
}
.head {
    background-color: rgb(245, 236, 236);
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.exception {
    margin-bottom: -1rem !important;
}
.list {
    background-color: #fff83156;    
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.search {
    margin-left: 1rem;
    width: 90%;
}
.notFound{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}
.SelectedRecipe {
    background-color: #fff83156;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.boymurodov {
    font-size: 1rem !important;  
}
.list ul li {
    display: flex;
    position: relative;
    background-color: gainsboro;
    border-radius: 3px;
    height: 6rem;
    transition: 0.5s;
    overflow: hidden;
}

.activeRecipe{
    background-color: rgb(245, 236, 236) !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.list ul li:hover {
    background-color: rgb(245, 236, 236);
}
.active {
    background-color: rgb(245, 236, 236) !important;
    border-radius: 5px;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
.martop {
    margin-top: 2rem;
}

.list ul li img {
    width: 6rem;
    height: 100%;
    object-fit: cover;
    float: left;
    border-radius: 5px;
    cursor: grab;
    transition: 0.3s;
    background-size: cover;
    
}
.list ul li img:hover {opacity: 0.7;}

.detail {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    width: 100%;
    padding-bottom: 1rem;
    line-height: 1.6rem;
}
.trash {
    position: absolute;
    right: 0;
    padding-right: 0.6rem;
    top: 0;
    padding-top: 0.6rem;
    font-size: 1rem;
    transition: 0.6s;
}
.trash:hover {
    color: rgb(153, 138, 138);
    cursor: auto;
}
.trash:active {
    font-size: 1.25rem;
}
.sec {
    padding-bottom: 1rem !important;
}
.selected {
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
}
.selected img {
    width: 100%;
    border-radius: 3px;
}

.selected .name {
    font-size: 2.5rem;
    line-height: 2.3rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.selected .r {
    text-decoration: underline;
    line-height: 2.5rem;
}

.navbar {
    margin-top: 1rem;
    background-color: gainsboro !important;
    border-radius: 5px;
}

.headerFormText {
    font-size: 1.1rem;
    line-height: 2.2rem; 
    margin-bottom: 0.6rem;
    
}
.btn-color {
    background-color: gainsboro !important;
}
.imgh {
    height: 100% !important;
    width: 75%;
    margin: 0 auto;
}
.success {
    text-align: center !important;
    font-size: 1rem;
}
footer {
    text-align: center;
    margin-top: 1rem;
    background-color: gainsboro;
    font-size: 0.9rem;
    padding: 1rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    letter-spacing: -0.2px;
    border-top-left-radius: 5px;
    border-top-rightf-radius: 5px;
}

.dropleft {
    height: 40%;
}
.dropleft button {
    background-color: rgb(177, 177, 177) !important;
    border: none;
    
}

.timeAdd {
    font-size: 1rem;
}

@media only screen and (max-width: 380px) {
    .timeAdd {
        font-size: 0.85rem;
    }
    
}
